<!DOCTYPE html>
<html>
<head>
    <title>Poké Mart</title>
</head>
<body>
    <h1>Welcome to the Poké Mart</h1>
    <form method="get" action="/login">
        <button type="submit">Login</button>
    </form>
    <form method="get" action="/createAccount">
        <button type="submit">Create Account</button>
    </form>
</body>
</html>