<!DOCTYPE html>
<html>
<head>
    <title>
        <% if (user) { %>    
            Poké Mart - Profile
        <% } else { %>
            Poké Mart - Missing Profile
        <% } %>
    </title>
</head>
<body>
    <% if (user) { %> 
        <h1><%= user.username %></h1>
    <% } else { %>
        <p>No user profile available.</p>
    <% } %>
    <form method="get" action="/products">
        <button type="submit">See Products</button>
    </form>
    <form method="get" action="/users/<%= user.id %>/cart">
        <button type="submit">See Cart</button>
    </form>
</body>
</html>